@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.btn {
    text-decoration: none;
    border: 0;
    display: inline-block;
    border-radius: 4px;
    outline:0px;
    font-size: 18px;
    padding: 10px;
    color: white;
    column-gap: 5px;
}
.btn-orange {
    background-color: #E4A11B;
}
.btn-red {
    background-color: #DC4C64
}
nav .btn-orange {
    margin-right: 5px;
}

@media only screen and (min-width: 500px) {
    .fa-bars {
      display: none;
    }
    .menu div ul {
        list-style: none;
    }
    header {
        /* display: flex;
        align-items: center;
        height: auto;
        background-color: lightgray;
        width: 100%; */
       padding: 10px 10px;
       background-color: gray;
       display: flex;
       flex-direction: column;
       align-items: start;
       justify-content: center;
       height: 200px;
    }
    nav {
        /* first values */
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        background-color: gray; */
        /* end of first values */
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        width: 100%;
        height: 50%;
       
    }
    nav > div {
        width: 50%;
    }
    nav .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */
        position: relative;
        font-size: 18px;
        /* width: 100%; */
        
       
    }
    nav .menu > div {
        display: flex;
        align-items: center;
    }
    nav .menu div:nth-child(1) ul:nth-child(2) {
        position: absolute;
        top: 45px;
        left: 10px;
    }
    nav .menu div:nth-child(1) ul:nth-child(3) {
        display: flex;
        align-items: center;
        
    }
    nav .menu div:nth-child(1) ul:nth-child(3) li a {
        padding: 10px 10px;
    }
    nav .menu div:nth-child(1) ul:nth-child(3) li a:hover {
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    nav .menu div:nth-child(2) a {
        padding: 10px 10px;
    }
    nav .menu div:nth-child(2) a:hover {
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    nav .menu div:nth-child(1) {
        transform: translate(-50%,-50%);
        
    }
    nav .menu div:nth-child(2) {
        transform: translateY(-50%);
    }
    nav .menu .active {
        padding: 10px 10px;
    }
    nav .dropMenu ul:nth-child(2) {
        overflow: hidden;
        height: 0;
        transition: all 1s;
    }
    .dropMenu__List {
        height: 60px!important;
        
        
    }
    nav .menu .active:hover {
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    .fa-caret-down {
        padding-left:5px;
    }
    .social {
        /* display: flex; */
        /* align-items:flex-start;
        justify-content: flex-end; */
        /* width:100%;  */
        /* height:40.5px; */
        /* height: 50%; */
        height: 50%;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }
    .social div {
        /* padding-right: 10px; */
    }
    .social div i {
        color: white;
        font-size: 18px;
        padding: 10px;
    }
    .social div i:hover {
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    .social div i:nth-child(3) {
        margin-right: 0;
    }
    nav div:nth-child(1) h1{
        transform: translateY(-50%);

    }
    .social div:nth-child(2) {
        /* display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; */
        width: 50%;
        display: flex;
        /* align-items: center; */
        justify-content: flex-end;
        
    }
    
    .social div:nth-child(1) {
        /* display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%; */
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .social div:nth-child(2) ul {
        list-style: none;
        display: flex;
       /* column-gap: 10px; */
       transform:translateX(50%);
       padding-top: 10px;
    }
    .social div:nth-child(2) ul li a {
        font-size: 18px;
        padding:0 6px;
        color : white;
        opacity: 0.95;
    }
    .social div:nth-child(2) ul li a::after {
        content: "|";
        /* padding: 0 5px; */
        padding-left: 9px;
        
    }
    .social div:nth-child(2) ul li:nth-child(3) a::after {
        content: "";
    }
    nav div h1 {
        color: white;
        font-weight: 300;
    }
    .fa-xmark {
        display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    body div:nth-child(1) {
        background-color: gray;
        padding: 10px 10px;
    }
    header {
        /* background-color: gray; */
        /* padding: 10px 10px; */
        /* height: auto; */
        /* height: 121.5px; */
        max-height: 121.5px;
        overflow: hidden;
        transition: all 1s linear;
        
    }
    .headerToggle {
        /* height: 227.5px; */
        max-height: 800px;
        /* transition: all 1s; */
        /* height: auto; */
        /* max-height: auto; */
       
    }
    /* .headerToggle__height { */
        /* height: 295.5px; */
        /* height: auto;
    } */
    header .social {
        height: 74px;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: row-reverse;
    }
    header .social ul {
        list-style: none;
        display: flex;
        transform: translateX(50%);
    }
    header .social div {
        width: 50%;
        display: flex;
        justify-content:flex-end;
        padding-top: 5px;
    }
    header .social div:nth-child(1) {
        padding-right: 5px;
    }
    header nav {
        /* height: auto; */
        width: 100%;
        /* background-color: green; */
        /* overflow: hidden; */
    }
    header nav div:nth-child(1) {
        padding: 5px;
        color: white;
    }
    header nav div:nth-child(1) h1 {
        display: flex;
        /* height: 80px; */
        justify-content: space-between;
    }
    header .menu ul {
        list-style: none;
    }
    /* Adjust the following code */
    nav .dropMenu ul:nth-child(2) {
        overflow: hidden;
        max-height: 0; 
        transition: all 1s;
        /* display: none; */
    }
    /* nav div:nth-child(1) {
        background-color: yellow;
    } */
    .dropMenu__List {
        /* height: 80px!important; */
        max-height: 500px!important;
        background-color: rgb(172, 255, 127);
        width: 270px;
        margin-left: auto;
        /* display: block; */

        /* display: block!important; */
        /* height: auto; */
    }
    /* End of Adjustment */
    nav .dropMenu ul:nth-child(2) a {
        /* line-height: 2; */
        padding: 10px 0px 10px 21px;
        display: block;
        /* width: 100px; */
        margin-left: auto;
        text-align: left;
        
    }
    nav .dropMenu ul:nth-child(2) li {
        border-bottom: 1px solid gray;
        
    }
    nav .dropMenu .fa-angle-right {
        font-size: 13px;
        display: inline-block;
    }
    .menu {
        /* margin-top: -166px; */
        /* visibility: hidden; */
        /* transition: all 1s; */
        /* height: 0; */
       /* visibility: hidden; */
        /* z-index: 5; */
        /* opacity: 0;
        display: none; */
        /* background-color: yellow; */
        /* padding: 10px 0; */
    }
    .menu__Toggle {
        /* margin-top: 0; */
        /* height: 140px; */
        /* z-index: 5; */
        /* visibility: visible;
        opacity: 1; */
        /* background-color: green; */
        /* display: block; */
    }
    .menu .dropMenu ul:nth-child(3) a {
         /* padding: 20px 0; */
         display: block;
         line-height: 2.6;
         color: white;
    }
    .menu .dropMenu .active {
        display: block;
        line-height: 2.6;
    }
    .toggleAbout {
        margin-left:112px;
    }
    main {
        font-size: 23px;
        padding: 0 10px;
    }
    .social div:nth-child(2) ul li a {
        font-size: 18px;
        padding:0 1.5px;
        color : white;
        opacity: 0.95;
    }
    .social div:nth-child(2) ul li a::after {
        content: "|";
        /* padding: 0 5px; */
        padding-left: 3px;
        
    }
    .social div:nth-child(2) ul li:nth-child(3) a::after {
        content: "";
    }
    .social div i {
        color: white;
       padding-left: 3px;
    }
    .btn {
        padding: 3px;
        border-radius: 2px;
        font-weight: 400;
        font-size: 18px;
    }
    .btn-orange {
        margin-left: 5px;
    }
    .fa-bars {
       display: block;
    }
    .fa-fade {
       
    }
    .hide {
        
    }
    .fa-xmark {
        display: none;
    }
    
    .show {
        
    }
  }